{%- if page.carousel.size > 1" -%}
<div id="bottom-slider" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
  {%- for item in page.carousel -%}
      <li class="splide__slide"><div class="lightbox">
        <figure>
    {%- if page.coverImage contains "https" -%}
      {%- capture slideImage -%}{{ item.image }}{%- endcapture -%}
    {%- else -%}
      {% capture slideImage %}/images/{{ page.date | date: "%Y/%m" }}/{{ item.image }}{% endcapture %}
    {%- endif -%}
    {%- if slideImage | slice: 0, 4 = 'http' -%}
            <a href="{{ slideImage }}" class="lightbox"><img src="{{ slideImage }}" alt="{{ item.alt }}" /></a>
    {%- else -%}
      {%- capture slideImageWebp %}{{ slideImage | replace:'jpg','webp' | replace:'jpeg','webp' }}{% endcapture -%}
            <picture>
              <source srcset="{{ slideImageWebp }}" type="image/webp">
              <a href="{{ slideImage }}" class="lightbox"><img src="{{ slideImage }}" alt="{{ item.alt }}" /></a>
            </picture>
    {%- endif -%}
          <figcaption>{{ item.legend }}</figcaption>
        </figure>
      </div></li>
  {%- endfor -%}
    </ul>
  </div>
</div>
{%- else -%}
<div id="bottom-slider">
  <figure>
  {%- assign item = page.carousel | first -%}
  {%- if page.coverImage contains "https" -%}
    {%- capture slideImage -%}{{ item.image }}{%- endcapture -%}
  {%- else -%}
    {% capture slideImage %}/images/{{ page.date | date: "%Y/%m" }}/{{ item.image }}{% endcapture %}
  {%- endif -%}
  {%- if slideImage | slice: 0, 4 = 'http' -%}
    <img src="{{ slideImage }}" alt="{{ item.legend }}" />
  {%- else -%}
    {%- capture slideImageWebp %}{{ slideImage | replace:'jpg','webp' | replace:'jpeg','webp' }}{% endcapture -%}
    <picture>
      <source srcset="{{ slideImageWebp }}" type="image/webp">
      <img src="{{ slideImage }}" alt="{{ item.alt }}" />
    </picture>
  {%- endif -%}
    <figcaption>{{ item.legend }}</figcaption>
  </figure>
</div>
{%- endif -%}
