	<head>
		<meta charset="utf-8">
		<title>{{ page.title | strip_html | default: site.title }}</title>
		{%- seo -%}
		<link rel='stylesheet' id='dashicons-css'  href='/styles.css' type='text/css' media='all' />
		{%- feed_meta -%}
		<link rel="alternate" type="application/rss+xml" title="RSS feed" href="https://www.6x8.org/feed.xml" />
		<link rel="stylesheet" href="/splide/splide.min.css">
		<script src="/splide/splide.min.js"></script>

		<!-- Matomo -->
		<script>
		  var _paq = window._paq = window._paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="//matomo.6x8.org/";
		    _paq.push(['setTrackerUrl', u+'matomo.php']);
		    _paq.push(['setSiteId', '2']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<!-- End Matomo Code -->
	</head>