---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- else -%}
    <h1 class="page-heading">Catégorie&nbsp;: {{ page.category.name }}</h1>
  {%- endif -%}

  {{ content }}
  
  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list grid">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for post in site.categories[page.category-name] %}
      <li class="grid-item">
        <div class="card {% if post.tags contains 'critique' %}critique{% endif %}">
        {%- if post.coverImage -%}
          {%- if forloop.index > 6 -%}
            {%- assign lazyLoad = 'loading="lazy"' -%}
          {%- else -%}
            {%- assign lazyLoad = '' -%}
          {%- endif -%}
          <figure>
            {%- if post.post_video -%}
            <video autoplay>
              <source src="/images/{{ post.post_video }}" type="video/mp4">
            </video>
            {%- else -%}
              {%- if post.coverImage contains "https" -%}
                {% capture coverImage %}{{ post.coverImage }}{% endcapture %}
              <img src="{{ coverImage }}" alt="" {{ lazyLoad }} />
              {%- else -%}
                {% capture coverImage %}/images/{{ post.date | date: "%Y/%m" }}/{{ post.coverImage }}{% endcapture %}
                {% capture coverImageWebp %}{{ coverImage | replace:'jpg','webp' }}{% endcapture %}
              <picture>
                <source srcset="{{ coverImageWebp }}" type="image/webp">
                <img src="{{ coverImage }}" alt="" {{ lazyLoad }} />
              </picture>
              {%- endif -%}
            {%- endif -%}
          </figure>
        {%- endif -%}
          <div>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | markdownify  }}
              </a>
            </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
{%- capture i18n_date -%}
{{ post.date | date: "%-d " }}
{%- assign m = post.date | date: "%-m" | minus: 1 -%}
{{ site.data.fr.months[m] }}
{{ post.date | date: "%Y" -}}
{%- endcapture -%}
            <span class="post-meta">
            Publié le {{ i18n_date }}
{%- if post.categories -%}
  {% assign cat = post.categories | first %}
  {%- for item in site.data.nav.categories -%}
    {%- if cat == item.url -%}
      {%- capture cattit -%}{{ item.title }}{%- endcapture -%}
      {%- capture caturl -%}/category/{{ item.url }}/{%- endcapture -%}
    {%- endif -%}
    {%- if item.subitems -%}
      {%- for subitem in item.subitems -%}
        {%- if cat == subitem.url -%}
          {%- capture cattit -%}{{ subitem.title }}{%- endcapture -%}
          {%- capture caturl -%}/category/{{ item.url }}/{{ subitem.url }}/{%- endcapture -%}
        {%- endif- %}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
              <br />Catégories&nbsp;: <a href="{{ caturl }}">{{ cattit }}</a>
{%- endif -%}
            </span>
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
<script src="/masonry.pkgd.min.js"></script>
<script>
var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});

// element argument can be a selector string
//   for an individual element
var msnry = new Masonry( '.grid', {
  // options
});

document.addEventListener('load', function () {
  msnry.layout()
}, false);

</script>
